body {
    background-color: rgb(252, 247, 189);
    text-align: center;
}

.card {
    background-color: white;
    width:27%;
    display: inline-block;
    height: 450px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
}

img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 70%;
}

h1 {
    text-align: center;
    color: crimson;
    font-size: 55px;
    text-decoration: underline;
}